<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>v-model</title>
    <script src="./../assets/js/vue.js"></script>
</head>

<body>
    <h1>v-model</h1>
    <hr>
    <div id="app">
        原始文本信息：{{message}}
        <h3>文本框</h3>
        <p>v-model:
            <input type="text" v-model="message">
        </p>
        <p>v-model.lazy
            <input type="text" v-model.lazy="message">
        </p>
        <p>v-model.number
            <input type="text" v-model.number="message">
        </p>
        <p>v-model.trim
            <input type="text" v-model.trim="message">
        </p>
        <hr>
        <h3>文本域</h3>
        <textarea name="" id="" cols="30" rows="10" v-model="message"></textarea>
        <hr>
        <h3>多选框</h3>
        <input type="checkbox" id="isTrue" v-model="isTrue">
        <label for="isTrue">{{isTrue}}</label>
        <hr>
        <h3>多选框绑定数组</h3>
        <p>
            <input type="checkbox" id="name" value="name" v-model="webNames">
            <label for="isTrue">name</label>
            <input type="checkbox" id="name1" value="name1" v-model="webNames">
            <label for="isTrue">name1</label>
            <input type="checkbox" id="name2" value="name2" v-model="webNames">
            <label for="isTrue">name2</label>
            {{webNames}}
        </p>
        
        <hr>
        <h3>单选框</h3>
        <p>
            <input type="radio" name="" value="男" v-model="sex" id="one">
            <label for="one">男</label>
            <input type="radio" name="" value="女" v-model="sex" id="two">
            <label for="two">女</label>
            <p>选择{{sex}}</p>
        </p>
        


    </div>
</body>
<script>
    //实例化
    //绑定一个生成器
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello World',
            isTrue: true,
            webNames:[],
            sex:'男'
        }
    })
</script>

</html>